# Binary files
**/bin

# Build folders
**/build

# Makefiles
**/Makefile

# MacOS artifacts
.DS_Store

#Precompiled headers
*.pch
*.gch

# VS-VSCode config
.vscode/
.vs/

# Project files
*.xcworkspace/
**.xcodeproj
*.sln
**.vcxproj*